django
django-webpack-loader
psycopg2-binary
httplib2
google-api-python-client
djangorestframework
django-oauth-toolkit
django-cors-middleware
Pillow
django-jenkins
coverage
django-extensions
apiclient
oauth2client
