<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    {% load static %}
    <link href="{% static 'accounts/accounts.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/index.css' %}" rel="stylesheet">
  </head>
  <body class="login-body">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form action="/" class="navbar-right form-inline my-2 my-lg-0">
        <button type="submit" class="btn btn-outline-success login-button">Sign Up</button>
      </form>
  </nav>
<div class="login">
  {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong> {{error}} </strong>
      {% if resend %}
      <form method = "POST" action = "{% url 'resend_verification' %}" id="resend">
          {% csrf_token %}
          <input type="hidden" name="user" value={{user}} />
          <a style="color: blue; " onclick="document.getElementById('resend').submit()"> Resend Verification</a>
        </form>
        {% endif %}
    </div>
  {% endif %}
<div class="card login-card">
  <div class="card-body login-card-body" style="text-align: center">
    <h5 class="card-title">Log In</h5>
        <form method = "POST" action = "{% url 'login_real' %}">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="username"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Log In</button>
      </div>
        </form>

        <a href="{% url 'password_reset_real' %}"> Forgot password?</a>
    </div>
  </div>
</div>
</body>
</html>
