#dashboard {
	transform: translateY(5%);
}

.categoriesBox {
	margin-top: 35px;
	margin-bottom: 35px;
}

.icon {
	margin-left: 10px;
	transform: translateY(-2px);
}

.btn {
	margin-right: 10px;
	transform: translateX(10px);
}

.card {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.2);
    border-color: green;
}


.navbar-brand, .navbar-brand:hover {
	color: white;
}