{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    {% load static %}
    <link href="{% static 'accounts/accounts.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/index.css' %}" rel="stylesheet">
</head>
<body class="login-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form action="/" class="navbar-right form-inline my-2 my-lg-0">
        <button type="submit" class="btn btn-outline-success login-button">Sign Up</button>
      </form>
  </nav>
  	<div class="login">
  		<div class="card login-card">
  <div class="card-body login-card-body" style="text-align: center">
<h5 class="card-title">Forgot your password?</h5>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="form-group">
      <input type="text" name="email"class="form-control" id="resetemail" aria-describedby="emailHelp" placeholder="Email">
    </div>    
    <button type="submit" class="btn btn-success btn-block">Send me instructions!</button>
  </form>
<!-- </div> -->


    <!-- <form method="post">{% csrf_token %}
        <div class="form-group">
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}
                <div class="form-group">
          <input type="text" name="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
        </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Reset</button> -->
        <!-- <input type="submit" value="{% trans 'Reset my password' %}" /> -->
    <!-- </form>
	</div> -->
</div>
</div>
</body>
</html>