{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <title>Emerge Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{% static 'dashboard/index.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </head>
  <body>
    <div id="react-app"></div>
    <script>
      window.coming_soon = {{ coming_soon }};
    </script>
    {% render_bundle 'main' %}
  </body>
</html>

  <body>
    <div class="question">
      <div class="input-label">Question Creator</div>
      <p class="text-wrapper">// any description for question creator here</p>
      <div class="frame">
        <p class="div">Enter # of Questions here:</p>
        <div class="small-opt-wrapper"><div class="small-opt">n</div></div>
      </div>
      <div class="div-2">
        <div class="frame-2">
          <div class="frame">
            <div class="div">Question #2</div>
            <div class="div-wrapper"><div class="text-wrapper-2">asdfasdfasdfasdfasdf</div></div>
          </div>
          <div class="frame">
            <div class="div">Author</div>
            <div class="small-opt-wrapper"><div class="text-wrapper-2">000000</div></div>
          </div>
          <div class="frame-3">
            <div class="div">Difficulty Level</div>
            <div class="frame-wrapper">
              <div class="frame-4"><div class="text-wrapper-3">● tag 1</div></div>
            </div>
          </div>
        </div>
        <div class="frame-5">
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
        </div>
      </div>
      <div class="div-2">
        <div class="frame-2">
          <div class="frame">
            <div class="div">Question #2</div>
            <div class="div-wrapper"><div class="text-wrapper-2">asdfasdfasdfasdfasdf</div></div>
          </div>
          <div class="frame">
            <div class="div">Author</div>
            <div class="small-opt-wrapper"><div class="text-wrapper-2">000000</div></div>
          </div>
          <div class="frame-3">
            <div class="div">Difficulty Level</div>
            <div class="frame-wrapper">
              <div class="frame-4"><div class="text-wrapper-3">● tag 1</div></div>
            </div>
          </div>
        </div>
        <div class="frame-5">
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
        </div>
      </div>
      <div class="div-2">
        <div class="frame-2">
          <div class="frame">
            <div class="div">Question #2</div>
            <div class="div-wrapper"><div class="text-wrapper-2">asdfasdfasdfasdfasdf</div></div>
          </div>
          <div class="frame">
            <div class="div">Author</div>
            <div class="small-opt-wrapper"><div class="text-wrapper-2">000000</div></div>
          </div>
          <div class="frame-3">
            <div class="div">Difficulty Level</div>
            <div class="frame-wrapper">
              <div class="frame-4"><div class="text-wrapper-3">● tag 1</div></div>
            </div>
          </div>
        </div>
        <div class="frame-5">
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
          <div class="frame-6">
            <div class="div">Answer Option 1</div>
            <div class="frame-7"><div class="text-wrapper-4">//answer</div></div>
          </div>
        </div>
      </div>
      <div class="preview"><div class="text-wrapper-5">Submit</div></div>
    </div>
  </body>
