<!DOCTYPE html>
<html>
  <head>
  	<title>Emerge Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{% static 'dashboard/index.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </head>
  <body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">	</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		    </ul>
		    <form action="/login" class="form-inline my-2 my-lg-0" style="transform:translateX(-10px);">
		      <button type="submit" class="btn btn-outline-primary">Log In</button>
		    </form>
		  </div>
		</nav>
        <div class="landing-content">
            <h1 class="landing-header">Practice. Learn. Save Lives.</h1>
            <form class="signup" method="POST" action="{% url 'signup' %}">
              {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong> {{error}} </strong>
                </div>
              {% endif %}
              {% csrf_token %}
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password_confirm" placeholder="Confirm Password">
              </div>
              <button type="submit" class="btn btn-success btn-block">Sign Up!</button>
            </form>
        </div>
		<!-- Icons Grid -->
	    <section id="icons-grid" class="features-icons bg-light text-center">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-4">
	            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	              <div class="features-icons-icon d-flex">
<!-- 	                <i class="icon-screen-desktop m-auto text-primary"></i>
 -->				<img id="first-img" src="{% static 'landingpage/img/ambulance.png' %}" alt="ambulance">
	              </div>
	              <h3>Learn From Experts</h3>
	              <p class="lead mb-0">Learn from a curriculum developed by leading Emergency Medicine Doctors at Stanford University.</p>
	            </div>
	          </div>
	          <div class="col-lg-4">
	            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	              <div class="features-icons-icon d-flex">
<!-- 	                <i src= class="icon-layers m-auto text-primary"></i>
 -->	               	<img id="second-img" src="{% static 'landingpage/img/linechart.png' %}" alt="linechart">
	              </div>
	              <h3>Track Progress</h3>
	              <p class="lead mb-0">Monitor and track your performance and learning with advanced statistics and data visualizations.</p>
	            </div>
	          </div>
	          <div class="col-lg-4">
	            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
	              <div class="features-icons-icon d-flex">
			        	<img id="third-img" src="{% static 'landingpage/img/trophy.png' %}" alt="coins">
<!-- 	                <i class="icon-check m-auto text-primary"></i>
 -->	              </div>
	              <h3>Win Prizes</h3>
	              <p class="lead mb-0">Compete for monetary prizes through tests of your knowledge!</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
  </body>
</html>
